<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Form</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>
  <div id="app">
    <v-app>
      <v-content>
        <v-container>
          <v-form ref="form" v-model="valid" py-1>
            <v-stepper v-model="nowStep">
              <v-stepper-header>
                <v-stepper-step :complete="nowStep > 1" step="1">Шаг 1</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step :complete="nowStep > 2" step="2">Шаг 2</v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step :complete="nowStep > 3" step="3">Шаг 3</v-stepper-step>
                <v-divider></v-divider>

                <v-stepper-step :complete="nowStep > 4" step="4">Шаг 4</v-stepper-step>
                <v-divider></v-divider>

                <v-stepper-step :complete="nowStep > 5" step="5">Шаг 5</v-stepper-step>
                <v-divider></v-divider>

                <v-stepper-step :complete="nowStep > 6" step="6">Шаг 6</v-stepper-step>
                <v-divider></v-divider>

                <v-stepper-step :complete="nowStep > 7" step="7">Финиш</v-stepper-step>
              </v-stepper-header>

              <v-stepper-items>
                <v-stepper-content step="1">
                  <v-layout row wrap space-between class="white black--text">
                    <v-flex xs12>
                      <p class="headline">Укажите основные характеристики планируемого объекта:</p>
                    </v-flex>
                    <v-flex xs12>
                      <v-textarea 
                        outline flat 
                        counter="500" 
                        validate-on-blur 
                        auto-grow 
                        :label="questions.step1.objectAssignment[0]"
                        :hint="questions.step1.objectAssignment[1]" 
                        v-model="formData.step1.objectAssignment">
                      </v-textarea>
                    </v-flex>
                    <v-flex xs6 pr-2>
                      <v-text-field 
                        :rules="[rules.digit]" 
                        outline flat
                        validate-on-blur 
                        :label="questions.step1.buildArea[0]" 
                        :hint="questions.step1.buildArea[1]" 
                        v-model="formData.step1.buildArea">
                      </v-text-field>
                    </v-flex>
                    <v-flex xs6 pl-2>
                      <v-text-field 
                        :rules="[rules.digit]" 
                        outline flat
                        validate-on-blur  
                        :label="questions.step1.objectArea[0]" 
                        :hint="questions.step1.objectArea[1]" 
                        v-model="formData.step1.objectArea">
                      </v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <v-text-field 
                        :rules="[rules.digit]" 
                        outline flat
                        validate-on-blur 
                        :label="questions.step1.amountOfInvestment[0]"
                        :hint="questions.step1.amountOfInvestment[1]"
                        v-model="formData.step1.amountOfInvestment">
                      </v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <v-textarea 
                        outline flat
                        counter="10000" 
                        validate-on-blur 
                        auto-grow 
                        :label="questions.step1.necessaryPowers[0]"
                        :hint="questions.step1.necessaryPowers[1]"
                        v-model="formData.step1.necessaryPowers">
                      </v-textarea>
                    </v-flex>
                  </v-layout>
                </v-stepper-content>

                <v-stepper-content step="2">
                  <v-layout row wrap space-between class="white black--text">
                    <v-flex xs12>
                      <p class="headline">{{questions.step2.landDefinition[0]}}</p>
                    </v-flex>
                    <v-flex xs3>
                      <v-radio-group v-model="formData.step2.landDefinition" flat :mandatory="false">
                        <v-radio label="Да" value="yes"></v-radio>
                        <v-radio label="Нет" value="no"></v-radio>
                      </v-radio-group>
                    </v-flex>
                    <v-flex xs9 pl-2>
                      <v-text-field 
                        v-if="isStep2" 
                        outline flat
                        validate-on-blur 
                        :label="questions.step2.cadastralNumberOfLand[0]"
                        :hint="questions.step2.cadastralNumberOfLand[1]" 
                        mask="##:##:#######:####" 
                        :rules="[rules.lazyLength(15)]"
                        counter="15" 
                        v-model="formData.step2.cadastralNumberOfLand">
                      </v-text-field>
                    </v-flex>
                  </v-layout>
                </v-stepper-content>

                <v-stepper-content step="3">
                  <v-layout row wrap space-between class="white black--text">
                    <v-flex xs12>
                      <p class="headline">{{questions.step3.landDocs[0]}}</p>
                    </v-flex>
                    <v-flex xs3>
                      <v-radio-group v-model="formData.step3.landDocs" :mandatory="false">
                        <v-radio label="Да" value="yes"></v-radio>
                        <v-radio label="Нет" value="no"></v-radio>
                      </v-radio-group>
                    </v-flex>
                    <v-flex xs9 pl-2>
                      <div v-if="isStep3">
                        <v-text-field 
                          outline flat
                          prepend-icon='attach_file'
                          :label="questions.step3.fileName[0]"
                          hint="размером до 50МБ" 
                          @click='pickFile' 
                          v-model='formData.step3.fileName'
                          id="image3">
                        </v-text-field>
                        <input 
                          type="file" 
                          multiple
                          v-show="false" 
                          style="display: none" 
                          ref="image3" 
                          accept="image/*"
                          @change="onFilePicked" 
                          id="step3"
                        >
                      </div>
                      <v-select 
                        v-else 
                        outline flat
                        validate-on-blur 
                        :items="ownTypes" 
                        :label="questions.step3.ownType[0]"
                        v-model="formData.step3.ownType"></v-select>
                    </v-flex>
                  </v-layout>
                </v-stepper-content>
                <v-stepper-content step="4">
                  <v-layout row wrap space-between class="white black--text">
                    <v-flex xs12>
                      <p class="headline">Укажите основные характеристики земельного участка, необходимого для
                        строительства планируемого объекта:</p>
                    </v-flex>
                    <v-flex xs12>
                      <v-text-field 
                        outline flat
                        validate-on-blur 
                        :label="questions.step4.area[0]" 
                        :hint="questions.step4.area[1]" 
                        v-model="formData.step4.area"
                        :rules="[rules.digit]" 
                      >
                      </v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <v-textarea 
                        outline flat
                        validate-on-blur 
                        auto-grow
                        counter="10000"
                        :label="questions.step4.location[0]" 
                        v-model="formData.step4.location"></v-textarea>
                    </v-flex>
                    <v-flex xs12>
                      <v-textarea 
                        outline flat
                        auto-grow 
                        validate-on-blur 
                        counter="10000" 
                        :label="questions.step4.logistics[0]" 
                        v-model="formData.step4.logistics">
                      </v-textarea>
                    </v-flex>
                    <v-flex xs12>
                      <v-select 
                        outline flat 
                        :items="ownTypes" 
                        :label="questions.step4.ownType[0]" 
                        v-model="formData.step4.ownType"
                      ></v-select>
                    </v-flex>
                  </v-layout>
                </v-stepper-content>
                <v-stepper-content step="5">
                  <v-layout row wrap space-between class="white black--text">
                    <v-flex xs12>
                      <p class="headline">Просим Вас указать причины обращения в Центр содействия строительству
                        Белгородской области и кратко описать возникшие проблемы:</p>
                    </v-flex>
                    <v-flex xs12>
                      <v-textarea 
                        outline flat
                        validate-on-blur 
                        auto-grow 
                        counter="50000" 
                        v-model="formData.step5.petitionReason"
                      ></v-textarea>
                    </v-flex>
                  </v-layout>
                </v-stepper-content>
                <v-stepper-content step="6">
                  <v-layout row wrap space-between class="white black--text">
                    <v-flex xs12>
                      <p class="headline">Укажите данные организации: </p>
                    </v-flex>
                    <v-flex xs12>
                      <v-text-field 
                        outline flat
                        validate-on-blur 
                        counter="150" 
                        :label="questions.step6.nameOfTheLegalEntity[0]"
                        :rules="[rules.lazyLength(3)]" 
                        v-model="formData.step6.nameOfTheLegalEntity"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <v-text-field 
                        outline flat
                        validate-on-blur  
                        counter="150" 
                        :label="questions.step6.managerFullName[0]" 
                        :rules="[rules.nonDigit]"
                        v-model="formData.step6.managerFullName"
                      >
                      </v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <v-text-field 
                        outline flat 
                        :label="questions.step6.inn[0]" 
                        mask="############" 
                        :rules="[rules.lazyLength(12)]"
                        counter="12" 
                        v-model="formData.step6.inn"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <v-text-field 
                        outline flat
                        :label="questions.step6.ogrn[0]" 
                        mask="###############" 
                        :rules="[rules.lazyLength(15)]"
                        counter="15" 
                        v-model="formData.step6.ogrn"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <v-text-field 
                        outline flat
                        validate-on-blur
                        prepend-icon='attach_file' 
                        :label="questions.step6.fileName[0]" 
                        @click='pickFile' 
                        v-model='formData.step6.fileName'
                        id="image6"
                      ></v-text-field>
                      <input 
                        type="file" 
                        multiple 
                        style="display: none" 
                        ref="image6" 
                        accept="image/*"
                        @change="onFilePicked" 
                        id="step6"
                      >
                    </v-flex>
                  </v-layout>
                </v-stepper-content>
                <v-stepper-content step="7">
                  <v-layout row wrap space-between class="white black--text">
                    <v-flex xs12>
                      <p class="headline">Укажите свои координаты: </p>
                    </v-flex>
                    <v-flex xs12>
                      <v-text-field 
                        outline flat
                        validate-on-blur
                        counter="150" 
                        :label="questions.step7.fullName[0]"
                        :rules="[rules.required, rules.length(3), rules.nonDigit]" 
                        v-model="formData.step7.fullName"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <v-text-field 
                        outline flat
                        validate-on-blur
                        :label="questions.step7.phone[0]" 
                        mask="phone"
                        type="tel"
                        :rules="[rules.required, rules.length(10)]" 
                        counter="10" 
                        v-model="formData.step7.phone"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <v-text-field 
                        outline flat
                        validate-on-blur 
                        :label="questions.step7.email[0]" 
                        type="email"
                        :rules="[rules.email, rules.required, rules.length(3)]" 
                        v-model="formData.step7.email"
                      ></v-text-field>
                    </v-flex>
                    <v-flex xs12>
                      <v-textarea 
                        outline flat 
                        auto-grow
                        validate-on-blur 
                        counter="1000" 
                        rows="1"
                        :label="questions.step7.timeToCall[0]" 
                        v-model="formData.step7.timeToCall"
                      ></v-textarea>
                    </v-flex>
                  </v-layout>
                </v-stepper-content>
              </v-stepper-items>

              <v-layout class="py-3">
                <v-flex><v-btn v-if="nowStep>1" @click="prevStep">Назад</v-btn></v-flex>
                <v-spacer></v-spacer>
                <v-flex xs2 text-xs-right>
                  <v-btn color="primary" @click="nextStep" v-if="nowStep<7">
                    Далее
                  </v-btn>
                  <v-btn color="red" @click.prevent="onSubmit" v-else dark :disabled="!valid">
                    Отправить
                  </v-btn>
                </v-flex>
              </v-layout>
            </v-stepper>
          </v-form>
        </v-container>
      </v-content>
    </v-app>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify/dist/vuetify.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.4.0/polyfill.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.2/xlsx.full.min.js"></script>
  <script>
    const emailRegex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/
    const digitRegex = /\d/
    Vue.use(Vuetify)
    const App = new Vue({
      el: '#app',
      data() {
        return {
          valid: false,
          formData: {
            step1: {
              objectAssignment: null,
              buildArea: null,
              objectArea: null,
              amountOfInvestment: null,
              necessaryPowers: null
            },
            step2: {
              landDefinition: 'no',
              cadastralNumberOfLand: null
            },
            step3: {
              landDocs: 'no',
              files: [],
              fileName: '',
              ownType: null
            },
            step4: {
              area: null,
              location: null,
              logistics: null,
              ownType: null
            },
            step5: {
              petitionReason: null
            },
            step6: {
              nameOfTheLegalEntity: null,
              managerFullName: null,
              inn: null,
              ogrn: null,
              files: [],
              fileName: ''
            },
            step7: {
              fullName: null,
              phone: null,
              email: null,
              timeToCall: null
            }
          },
          questions: {
            step1: {
              objectAssignment: [
                'Назначение объекта',
                'Производственное, непроизводственное (общественное здание, жилое здание)' 
              ],
              buildArea: ['Площадь застройки', 'кв. м'],
              objectArea: ['Общая площадь объекта', 'кв. м'],
              amountOfInvestment: ['Сумма планируемых инвестиций','тыс. руб.'],
              necessaryPowers: [
                'Необходимые мощности',
                'Необходимые для эксплуатации объекта мощности по газоснабжению, электроснабжению и водопотреблению'
              ]
            },
            step2: {
              landDefinition: ['Определен земельный участок, на котором планируется строительство объекта?'],
              cadastralNumberOfLand: [
                'Кадастровый номер земельного участка',
                'В формате 00:00:0000000:0000'
              ]
            },
            step3: {
              landDocs: ['Имеются ли у Вас правоустанавливающие документы на данный земельный участок (право аренды либо право собственности)?'],
              fileName: ['Приложите копию документа'],
              ownType: ['Укажите предпочитаемый вид права']
            },
            step4: {
              area: ['Ориентировочная площадь', 'кв. м'],
              location: ['Территориальные предпочтения к месторасположению участка'],
              logistics: ['Требования к логистике'],
              ownType: ['Укажите предпочитаемый вид права']
            },
            step5: {
              petitionReason: ['Причина обращения']
            },
            step6: {
              nameOfTheLegalEntity: ['Наименование юридического лица'],
              managerFullName: ['ФИО руководителя или доверенного представителя организации'],
              inn: ['ИНН организации'],
              ogrn: ['ОГРН организации'],
              fileName: ['Прикрепите копию выписки из ЕГРЮЛ/ЕГРИП']
            },
            step7: {
              fullName: ['ФИО контактного лица'],
              phone: ['Мобильный номер телефона'],
              email: ['Электронная почта'],
              timeToCall: ['В какое время удобно Вам позвонить?']
            }
          },
          nowStep: 1,
          ownTypes: ['Аренда', 'Собственность'],
          rules: {
            email: v => emailRegex.test(v) || 'Некорректный email',
            digit: v => v ? digitRegex.test(v) : true || 'Введите число',
            nonDigit: v => digitRegex.test(v) ? 'Поле должно содержать только текстовые символы' : true,
            length: len => v => (v || '').length >= len || `Количество символов должно быть не меньше ${len}`,
            lazyLength: len => v => v ? v.length >= len : true || `Количество символов должно быть не меньше ${len}`,
            required: v => !!v || 'Это поле обязательно для заполнения'
          }
        }
      },
      computed: {
        isStep2() {
          return this.formData.step2.landDefinition === 'yes' ? true : false
        },
        isStep3() {
          return this.formData.step3.landDocs === 'yes' ? true : false
        }
      },
      methods: {
        nextStep() {
          if (this.nowStep < 7) {
            this.nowStep++
            if (this.nowStep == 3 && !this.isStep2) this.nowStep++
            if (this.nowStep == 4 && !this.isStep3) this.nowStep++
          }
        },
        prevStep() {
          if (this.nowStep > 1) {
            this.nowStep--
            if (this.nowStep == 3 && !this.isStep2) this.nowStep--
            if (this.nowStep == 4 && !this.isStep3) this.nowStep--
          }
        },
        pickFile(e) {
          const el = e.target.id
          this.$refs[el].click()
        },
        onFilePicked(e) {
          const files = e.target.files || e.dataTransfer.files
          const step = e.target.id
          if (files.length > 0) {
            this.formData[step].files = [...files].filter(file => (file.size <= 52428800 && file.name.lastIndexOf('.') > 0))
            this.formData[step].fileName = this.formData[step].files.map(file => file.name).join(', ')
          } else {
            this.formData[step].fileName = ''
          }
        },
        onSubmit() {
          if (this.$refs.form.validate()) {
            const ws_name = "UserData"
            const wopts = { bookType:'xlsx', bookSST:false, type:'base64' }
            const data = []
            for (let key in this.formData) {
              for (let k in this.formData[key]) {
                if (this.formData[key][k] && k != 'files') 
                  data.push([this.questions[key][k], this.formData[key][k]])
              }
            }
            const wb = XLSX.utils.book_new(), ws = XLSX.utils.aoa_to_sheet(data)
            XLSX.utils.book_append_sheet(wb, ws, ws_name)
            XLSX.writeFile(wb, 'form.xlsx')
            const wbout = XLSX.write(wb,wopts)
            const finalFormData = new FormData()
            finalFormData.append('file', 'form.xlsx')
            finalFormData.append('data', wbout)
            if ((this.formData.step3.files || []).length>0) {
              this.formData.step3.files.forEach(file => {
                finalFormData.append('data', file, file.name)
              })
            }
            if ((this.formData.step6.files || []).length>0) {
              this.formData.step6.files.forEach(file => {
                finalFormData.append('data', file, file.name)
              })
            }
            const req = new XMLHttpRequest()
            req.open("POST", "/", true)
            req.send(finalFormdata)
          }
        }
      }
    })
  </script>
</body>

</html>